.sidebar {
  width: 220px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .nav-link {
  text-align: center;
  padding-left: 0.5rem;
}

.sidebar.collapsed h4 {
  display: none;
}

@media(min-width: 768px) {
  .sidebar button {
    display: none;
  }
}
